---
layout: base.html
---
<main>
  <section>
    <h1>{{ title }}</h1>
  </section>
  <section>
    {% for blog in pagination.blog %}
      <article>
        <div>
            <div>
            {% for tag in blog.data.tags limit: 2 %}
              <a href="/tags/{{ tag }}/">{{ tag }}</a>
            {% endfor %}
            </div>
            <div>
              <a href="{{ blog.url }}">{{blog.data.title}}</a>
            </div>
        </div>
      </article>
    {% endfor %}
  </section>
</main>