.blog {
  padding: $base-padding;
  max-width: $max-width-xxl;

  @media screen and (min-width: $max-width-md) {
    padding: 32px;
  }

  @media screen and (min-width: $max-width-xl) {
    padding: 0 157px;
  }

  &__hero-content {
    h1 {
      padding-block: 32px;
      font-size: 2.5rem;
      font-weight: bold;

      @media screen and (min-width: $max-width-md) {
        font-size: 3.5rem;
      }
    }
  }

  &__grid {
    display: grid;
    gap: 36px;

    @media screen and (min-width: $max-width-md) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__post-thumb {
    img {
      border-radius: 8px;
    }
  }

  &__post-tag {
    padding-block: 8px;

    a {
      padding: 4px 8px;
      border-radius: 4px;
      background-color: $color-primary-dark;
      color: $color-white
    }
  }

  &__post-title {
    padding-block: 8px;
    font-size: 1.25rem;
    font-weight: bold;
  }
}