{% assign c = "shared-bg-blocks" %}

<section class={{ c }}>
   <!-- BG image -->
   <img class="{{ c }}__bg-img" src="{{ background_image }}" alt="" />
   
   <!-- Hero block -->
   {% if hero %}
      {% bookshop "home/hero" bind: hero %}
   {% endif %}

   <!-- Left-Right blocks -->
   {% for block in left_right_blocks %}
      {% bookshop "home/left-right" bind: block %}
   {% endfor %}
</section>

