.shared-bg-blocks {
  position: relative;
  min-height: 100vh;
  color: white;

  &__bg-img {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
}
